// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FFBA74;
}

a {
  text-decoration: none;
  color: white;
  background-color: #00536C;
  padding: 20px;
  margin-right: 20px;
}

h1 {
  color: #6C441C;
}

ul {
  list-style: none;
  float: left;
  margin-left: 0;
  padding: 0;
  padding-bottom: 20px;
}

li {
  float: left;
  padding-left: none;
}